@import url('https://fonts.googleapis.com/css2?family=Jeju+Hallasan&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #FFF5E1;
    width: 100%;
}

/* Header Styles */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #850101;
    color: #FFF1C5;
    font-size: 18px;
    padding: 10px;
    font-family: JejuHallasan;
}

/* Navigation Bar Styles */

nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-right: 20px;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px; 
    font-family: Montserrat Alternates;
}

nav ul li a {
    text-decoration: none;
    color: #FFF1C5;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #850101;
    transition: background-color 0.3s ease-in-out;
    font-size: 28px;
}

nav ul li a:hover {
    background-color: #B85750;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

p {
    line-height: 1.5;
    margin-bottom: 20px;
}

/* Image Styles */
.ganda {
    display: flex;
    justify-content: space-between; 
    padding: 20px;
    align-items: center;
}

.left-image {
    width: 40%; 
    float: left; 
    border-radius: 50px;
}

.content {
    max-width: 100%;
    margin: 0 auto;
    font-family: "Merriweather";
}

.content h2 {
    text-align: justify;
    font-size: 110px;
    margin-bottom: 1rem;
    color: #850101;
}

.content p {
    font-size: 70%;
    color: #333;
    line-height: 1.5;
    font-family: "Lato"; 
    text-align: justify;
}

.menu-item {
    width: 15%;
    margin-bottom: 70px;
    margin-right: 8%;
    margin-left: 9%;
    background-color:#850101;
    border-radius: 15px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    grid-template-columns: auto;
    display: inline-grid;
    font-family: "Inter";
    font-weight: bolder;
    text-align: justify;
}

.menu-item:hover,
.menu-item:active {
    transform: scale(1.05);
}

.menu-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 2px solid #850101;
    border-radius: 10%;
}

.menu-item h3 {
    font-size: 28px;
    margin: 15px;
    text-align: center;
    color: #FFF1C5;
    font-family: Inter;
}

.menu-item p {
    font-size: 15px;
    padding: 0 15px 15px;
    color: #ffffff;
    text-align: justify;
    position: relative;
}


.cuisine, .dessert {
    color: #333;
    text-align: center;
    font-size: 50px;
    margin-bottom: 8px;
}


.recipe-title {
    font-family: "Merriweather";
    font-size: 40px;
    text-align: center;
}

.title, .procedure {
    font-size: 35px;
    font-weight: bold;
    padding: 1rem;
    font-family: "Merriweather";
}

.time-container {
    float: right;
    text-align: right; 
    width: 350px; 
    margin-top: -350px;
    margin-right: 25px;
    font-family: "Merriweather";
    font-size: 15px;
}
.time-title {
    font-size: 35px; 
    font-weight: bold; 
    text-align: center;
    font-family: "Merriweather";
}

.time {
    list-style-type: disc; 
    padding-left: 0;
    font-size: 13px; 
    margin-bottom: 20px;
    font-size: 25px;
    font-family: "Merriweather";
}

.time li {
    font-family: "Merriweather";
    margin-bottom: 5px; 
}

.jv {
    font-size: 25px;  
    font-family: "Merriweather";
}

.jovi {
    border: 42px solid #850101; 
    border-radius: 10%;
    width: 50%;
    display: block;
    margin: 25px auto auto auto;
}

h2, p, ul, li, ol {
    text-decoration: none;
  }


.ingredients {
    margin-bottom: 2px;
    font-size: 25px;
    font-family: "Merriweather";
}


.ingredients li, .time li {
    list-style-type: disc;
    margin-bottom: 10px;
    font-family: "Merriweather";
}

h3 p {
    text-align: justify;
}


.about-content {
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 5px;
}

.about-content p {
    line-height: 1.5;
    text-align: justify;
    font-size: 20px;
    margin: 15px 0 20px 0;
    font-family: "Lato";
}

.about-content h4 {
    font-family: "Merriweather";
}

.awaits-list {
    margin-left: 20px;
    line-height: 1.6; 
    font-size: 20px; 
    text-align: justify;
    margin-left: 10px;
    font-family: "Lato";
}

h3 {
    font-size: 40px;
    margin: 20px 0; 
}

h4 {
    font-size: 35px;
    margin: 20px 0; 
}

.hamburger {
    font-size: 2rem;
    cursor: pointer;
    display: none;
}


.ganda {
    text-align: center;
    padding: 2rem;
}

.left-image {
    width: 100%;
    max-width: 600px; 
    height: auto;
    display: block;
    margin: 1.5% auto 1.5%;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    font-family: JejuHallasan;
}

.content h2 {
    font-size: 50px;
    margin-bottom: 1%;
    color: #850101;
}

.content p {
    font-size: 25px;
    color: #333; 
    line-height: 1.6;
}

.contact-picture {
    display: block;
    width: 70%;
    margin: 1% auto 1% auto;
}

form {
    width: 0 auto;
    margin: 0 25% 0 25%;
    font-family: "Lato";
}

form input, form textarea {
    display: block;
    margin-bottom: 10px;
}

.experience {
    text-align: center;
    margin-top: auto;
}

.button {
    color: #FFF1C5;
    text-transform: uppercase;
    font-weight: bold;
    padding: 4px;
    background-color: #850101;
    border: 1px solid #305704;
    display: inline;
    margin: 1% 0 0 1%;
}

a {
    text-decoration: none;
    color: #FFF1C5;
    font-size: 25px;
    padding: 1%;
}
footer {
    width: 100%; 
    background-color: #850101; 
    color: #FFF1C5; 
    padding: 10px 0 1px; 
    position: relative;
    margin-top: 28px; 
}

.social {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-bottom: 10px; 
}

.social-item {
    display: flex; 
    align-items: center; 
    margin: 0 15px; 
}

.social img {
    width: 30px; 
    height: auto; 
    margin-right: 10px; 
}

.fb-name, .insta-name {
    color: #FFF1C5; 
    font-size: 25px; 
    font-family: 'Merriweather';
    white-space: nowrap; 
}

.copyright {
    text-align: center; 
    color: #FFF1C5;
    font-size: 16px; 
}
